
</tbody>
</table>
</div>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                "responsive": true,
                "pageLength": 50,
                buttons: [ 'copy' ]
            });
        } );
    </script>
</body>
</html>
